<!-- Sidebar -->
<div class="col-md-3">
    <div class="sidebar clearfix">
        <div class="widget widget-about">
            <div class="text">
                <div class="typing-wrapper"><span class="typing">Welcome to Utapia!</span></div>
            </div>
        </div>

        <!-- Widget - Search -->
        <div class="widget widget-search">
            <form id="search-widget-form" class="validate-form">
                <div class="form-group input-wrapper">
                    <input type="text" class="form-control" required>
                    <span class="input-label">Search</span>
                </div>
            </form>
        </div>

    </div>
</div>
