{{!< default}}
<div class="row">
    <div class="col-md-9">
        <div class="page-content">
            <div class="masonry row">
                <div class="masonry-sizer col-sm-6 col-xs-12"></div>
                {{> "loop"}}
            </div>
            {{pagination}}
        </div>
    </div>
    {{> "sidebar"}}
</div>
