{{!< default}}
{{#post}}
    <article class="post single {{post_class}}">
        {{#if feature_simage}}
            <div class="post-image">
                <img src="{{img_url feature_image}}" alt="">
            </div>
        {{/if}}
        <div class="post-content">
            <h1>{{title}}</h1>
            <div>{{content}}</div>
        </div>
    </article>
{{/post}}
